// Adicionar Scroll Nas Sections
.row
  .large-12.columns
    .section-container.tabs{"data-section" => "tabs"}
      #main{:role => "main"}
        #diretores.page-panel
          %section
            %p.title{"data-section-title" => ""}
              = link_to "Os diretores", '#'
            .content{"data-section-content" => ""}
              .row
                .large-7.columns
                  %h5.subheader Josias Pires
                  %p Jornalista e cineasta. Diretor da série de documentários da TVE-Bahia "Bahia Singular e Plural", realizando atividades de produtor, pesquisador, roteirista e diretor de TV (junho 1998/ fevereiro 2004) dos seguintes documentários televisivos de 30 minutos, que registram festas, folguedos e rituais populares, veiculados para todo o país pela TV Cultura.
                .large-4.columns
                  %h5.subheader Joel de Almeida
                  %p Historiador e cineasta. É um dos principais documentarista baianos na atualidade. Já realizou cercade 20 documentários desde a década de 80, quando iniciou sua trajetória profissional nocinema.
      %section
        %p.title{"data-section-title" => ""}
          = link_to "<< Filmografia >>"
        .content{"data-section-content" => ""}
          .row
            .large-4.columns
              %h5.subheader Josias Pires
              %ul
                %li As Burrinhas da Bahia (1999)
                %li Ternos e Folias de Reis (1999)
                %li Folias de Negros (1999)
                %li Mastros Sagrados e Profanos (2000)
                %li Caretas e Zambiapunga (2000)
                %li Chegança de Mouros (2000)
                %li Lutas de Cristãos e Mouros (2000)
                %li Caboclos da Festa do Divino (2000)
                %li Cantos de Trabalho (2001)
                %li Marujada (2001)
                %li Bumba-meu-boi (2001)
                %li Índios do Sertão (2002)
                %li Dança de São Gonçalo (2002)
                %li Reisado Zé de Vale (2002)
                %li Festa de São Roque (2003)
                %li Cosme e Damião – Os Santos Gêmeos (2003)
                %li Pesquisador e co-roteirista do documentário da TVE-Bahia 
                "Quixabeira – da roça à indústria cultural" (1998).
            .large-8.columns
              %h5.subheader Joel de Almeida
              %ul
                %li 2007 – XISTO BAHIA – ISTO É BOM, curta metragem, ficção, 35 mm. O projeto é resultado do edital de 2005/06, promovido pela Secretaria de Cultura e Turismo do Estado da Bahia (em fase de produção).
                %li 2003 – PENITENTES DO MÉDIO SÃO FRANCISCO, vídeo documentário, média metragem. Resultado do edital 
                promovido pela Secretaria do Estado da Bahia em 2004.
                %li 2003 – HANSEN BAHIA, curta metragem, 35mm, resultado da terceira seleção de projetos para a produção de curta metragem, patrocinado pela PETROBRAS. Prêmios Quanta e Aruanda, na XXX Jornada Internacional de cinema de Salvador; Menção honrosa e Troféu APCNN (Associação dos Profissionais em Cinema no Norte e Nordeste), no 14º Cine Ceará; Menção Honrosa no Primeiro Festival de Cinema de Belém-Pará.
                %li 2002 – CALUMBIS, PÍFANOS E ZABUMBAS, vídeo documentário com 25 minutos de duração, resultado de edital promovido e patrocinado pela Secretaria de Cultura e Turismo do Estado da Bahia.
                %li 2001 – RESISTÊNCIA DO SONHO, vídeo com 25 minutos. Ganhador do prêmio de melhor produção baiana na XXVIII Jornada Internacional de Cinema e Vídeo da Bahia.
                %li 1999 – PRETO NO BRANCO, vídeo documentário. O vídeo ganhou Menção Honrosa no Quarto Cine-Vídeo de Curitiba / PR; Melhor vídeo documentário e melhor vídeo nacional no XXIII Guarnicê de Cine-Vídeo do Maranhão.
                %li 1994/98 – Realização do episódio PENITÊNCIA, integrante do longa metragem OS SETE SACRAMENTOS DE CANUDOS, produzido pela ZDF Canal 2 de Televisão da Alemanha. Prêmio de Melhor Vídeo e Melhor Direção no VII Cine Ceará; Melhor Vídeo do Festival dos Festivais no III Festival de Curitiba; Melhor Direção no III Vídeo Terra de Brasília; Prêmio Quanta de Melhor Produção Baiana na XXV Jornada Internacional da Cinema e Vídeo da Bahia; Menção Honrosa no Mostra do Filme Livre 2005.
      #main{:role => "main"}
        #docdoma.page-panel
          %section
            %p.title{"data-section-title" => ""}
              = link_to "A Docdama", '#'
            .content{"data-section-content" => ""}
              .row
                .large-6.columns
                  = image_tag('principais1.jpg')
                  = image_tag('principais2.jpg')
                  = image_tag('principais3.jpg')
                  = image_tag('principais4.jpg')
                  = image_tag('principais5.jpg')
                .large-6.columns
                  %p A DocDoma Filmes nasceu do espírito empreendedor de um grupo de jovens proﬁssionais, movidos pelo interesse no desenvolvimento do potencial audiovisual do Brasil. É uma produtora premiada de cinema, vídeo e conteúdos para TV.
                  %p A DocDoma tem a missão de acreditar no valor técnico e criativo do mercado  audiovisual produzido no Brasil e se propor a desenvolvê-lo de dentro para  fora, desenvolvendo projetos marcados pelos valores da cultura regional,  porém com um apelo universal, tornando-se assim uma referência de  qualidade e competência técnica e artística.
                  %p Os seus ﬁlmes, juntos, obtiveram mais de 30 prêmios em festivais nacionais e internacionais. 
                  %p Dinâmica, jovem e com estrutura enxuta, a empresa tem como um de seus diferenciais, oferecer produções de qualidade compatível com as grandes produtoras da área, a preços bastante competitivos.