%section#trailer
  = render 'trailer'
%section
  = render 'shared/navbar'
%section#historia
  = render 'historia'
%section#festivais
  = render 'festivais'
%section#producao
  = render 'producao'
%section#diretores-docdoma
= render 'diretores-docdoma'
#equipe
  .row
    .large-12.columns
      %h3.subheader{"data-reveal-id" => "fichaEquipe"}
        = link_to "Equipe !!", '#' 
      %br
        %small> (Clique para abrir)