%section#trailer
  = render 'trailer'
%section
  = render 'shared/navbar'
%section#historia
  = render 'historia'
%section#festivais
  = render 'festivais'
  %section#noticias
  = render 'noticias'
%section#personagem
  = render 'personagem'
%section#producao
  = render 'producao'
%section#diretores
  = render 'diretores'
%section#docdoma
  = render 'docdoma'