.row
  .small-6.push-3.columns
    %h2.futura.center Poesias
    = link_to new_poem_path(@poem) do 
      .tiny.button.uppercase.radius.secondary +
      Adicionar Poema
    - @poems.each do |poem|
      .panel.large-centered
        %h6
          %h4.typewriter.center= poem.title
          %span.typewriter= raw(poem.content)
          %br
        - if current_admin
          %small
            = link_to 'Visualizar', poem, class: "small button secondary round"
            = link_to 'Editar', edit_poem_path(poem), class: "small button secondary round"
            = link_to 'Deletar', poem, method: :delete, data: { confirm: 'Tem certeza?' }, class: "small button alert round"
