= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %p.alert-box.alert= "#{pluralize(@post.errors.count, "erro")} impossibilitam desta notícia ser salva:"
      %ul.alert-box
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, placeholder: "Título"
    = f.tinymce :content, placeholder: "Conteúdo"
  .actions
    = f.submit 'Enviar'
