- if @posts
  .row
    .small-6.push-3.columns
      %h2.futura.center
        Notícias
      = link_to new_post_path(@post) do 
        .tiny.button.uppercase.radius.secondary +
        Adicionar Notícias
      - @posts.each do |post|
        .panel.large-centered
          %h4.typewriter
            = post.title
          %span.destaq1
            = raw(post.content)
          %br
          %br
          - if current_admin
            %small
              = link_to 'Visualizar', post, class: "small button secondary round"
              = link_to 'Editar', edit_post_path(post), class: "small button secondary round"
              = link_to 'Deletar', post, method: :delete, data: { confirm: 'Tem certeza?' }, class: "small button alert round"
              Posted #{time_ago_in_words(post.created_at)} ago.
- else
  .row
    .small-12.columns.top20.center
      %h4.futura.top20 Não existem notícias disponíveis. Aguarde novidades