.row
  .small-6.push-3.columns
    %h2.futura.center Notícias
    - @posts.each do |post|
      .panel.large-centered
        %h4.typewriter
          = post.title
        %span.destaq1
          = raw(post.content)
        %br
        %small.timestamp
          Posted #{time_ago_in_words(post.created_at)} ago.
        %br
        - if current_admin
          %small
            = link_to 'Visualizar', post
            = link_to 'Editar', edit_post_path(post)
            = link_to 'Deletar', post, method: :delete, data: { confirm: 'Tem certeza?' }