.row
  .small-12.columns

    %p#notice= notice

    %h3.subheader
      = @post.title
    %p
      = @post.content

    = link_to 'Editar', edit_post_path(@post)
    \|
    = link_to 'Voltar', posts_path
