= form_for @cinema do |f|
  - if @cinema.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cinema.errors.count, "error")} prohibited this cinema from being saved:"
      %ul
        - @cinema.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-4.columns
      = f.label :date, "Dias e Horários"
    .large-8.columns
      = f.text_field :date, placeholder: "Ex: 15 de Abril de 2014"
  .row
    .large-4.columns
      = f.label :place, "Local de Exibição"
    .large-8.columns
      = f.text_field :place, placeholder: "Ex: Cine Glauber Rocha"
  .row
    .large-4.columns
      = f.label :address, "Endereço"
    .large-8.columns
      = f.text_field :address, placeholder: "Ex: Praça Castro Alves, Centro, Salvador"
  .row
    .large-4.columns
      = f.label :link, "URL do Site"
    .large-8.columns
      = f.text_field :link, placeholder: "Ex: http://www.itaucinemas.com.br/"
  .row
    .large-4.columns.right
      .large-6.columns
        .actions
          = f.submit 'Salvar', class: "tiny success button round"
      .large-6.columns 
        .actions
          = link_to "Voltar", cinemas_path, class: "tiny secondary button round"