= form_for @cinema do |f|
  - if @cinema.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cinema.errors.count, "error")} prohibited this cinema from being saved:"
      %ul
        - @cinema.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :date, placeholder: "Dias e Horarios"
  .field
    = f.text_field :place, placeholder: "Local"
  .field
    = f.text_field :address, placeholder: "Endereço"
  .field
    = f.text_field :link, placeholder: "Site"
  .row
    .large-12.columns
      .actions
        = f.submit 'Salvar'