.row
  .small-6.push-3.columns
    %h2.futura Próximas Exibições
    - @cinemas.each do |cinema|
      .panel.large-centered
        %h6
          %span.times
            = cinema.place
          %br
            = cinema.date.strftime("%d %B %Y") 
            = cinema.date.strftime("às %H:%M")
        - if current_admin
          %small
            = link_to 'Visualizar', cinema
            = link_to 'Editar', edit_cinema_path(cinema)
            = link_to 'Deletar', cinema, method: :delete, data: { confirm: 'Tem certeza?' }