.row
  .small-5.columns
    %h3 Próximas Exibições
  .small-7.columns
    - @cinemas.each do |cinema|
      %h6
        %span= cinema.place
        %p= cinema.date
      - if current_admin
        %small
          = link_to 'Show', cinema
          = link_to 'Edit', edit_cinema_path(cinema)
          = link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' }