.header
  .row
    .small-12.columns.logo.center.hide-for-small
      = link_to image_tag('cuica_logo.png'), root_path
    .large-12.columns
      .row.panel
        .small-12.columns.show-for-small
          = link_to image_tag('cuica_logo-dark.png'), root_path
        .small-12.columns.show-for-small
          .flex-video.widescreen
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "http://www.youtube.com/embed/dekX4o6UUHI?rel=0", :width => "1280"}
        .large-8.columns.small-9
          %p.typewriter.destaq2
            Documentário sobra a vida e a obra do poeta popular, trovador-repórter e propagandista
            %b.futura 
              Cuíca de Santo Amaro
            , personagem baiano, controverso e irreverente.
        .large-1.columns.large-offset-2.small-2.icon.show-for-small
          %a{:href => "#", "data-reveal-id" => "exibir"}
            %i.foundicon-calendar
        / .large-2.columns.panel.small-4.center
        /   = link_to "Exibição", "#", "data-reveal-id" => "exibir"
        .large-1.columns.small-3.pull-left
          .fb-like{"data-font" => "segoe ui", "data-href" => "https://www.facebook.com/cuicadesantoamaro", "data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "60"}
  #trailer.bg-trailer
    .row
      .hide-trailer.panel.large-1.columns.center
        :javascript
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block')
                e.style.display = 'none';
             else
                e.style.display = 'block';
          }

          function stopVideo() {
              player.stopVideo();
          }

        = link_to "Fechar", "#", :onclick => "stopVideo(); toggle_visibility('trailer')"
    .flex-video.widescreen{style: "padding-bottom: 53.55%"}
      #player
        / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "http://www.youtube.com/embed/dekX4o6UUHI?rel=0", :width => "1280"}
        :javascript
          //Load player api asynchronously.
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          var done = false;
          var player;
          function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
                height: '1280',
                width: '720',
                controls: 0,
                videoId: 'dekX4o6UUHI',
              });
          }
          function stopVideo() {
              player.stopVideo();
          }
          function playVideo() {
              player.playVideo();
          }

#exibir.reveal-modal.r1
  .row
    .large-12.columns
      - if @exibition
        %h4 Próximas Exibições
        %ul
          - @exibition.each do |cinema|
            
            %li.panel
              .destaq2.futura= cinema.place
              .destaq1
              = cinema.address
              = cinema.date
            / %li.cta-button
            /   %a.button{:href => "#"} Mais informarções
  %a.close-reveal-modal ×