!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Cuica de Santo Amaro"

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag
  %link{:href => "http://fonts.googleapis.com/css?family=Special+Elite", :rel => "stylesheet", :type => "text/css"}/

%body
  - if flash[:error]
    .error= flash[:error]
  - if flash[:notice]
    .notice= flash[:notice]
  - if flash[:alert]
    .alert= flash[:alert]
  
  / Facebook
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=157977650891087";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  = render 'layouts/header'    
  = yield
  = render 'layouts/footer'

  / #trailer.reveal-modal.large
  /   .flex-video
  /     %iframe{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "http://www.youtube.com/embed/dekX4o6UUHI?rel=0", :width => "1280"}
  /   %a.close-reveal-modal ×


  = javascript_include_tag :application
  :javascript
    document.write('<script src=/js/vendor/'
      + ('__proto__' in {} ? 'zepto' : 'jquery')
      + '.js><\/script>');
  / Check for Zepto support, load jQuery if necessary